.navbar,
.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #035899;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 250px;
  height: 90px;
  /* position: relative;
  z-index: 10; */
}

.navbar .navbar-collapse {
  list-style-type: none;
  margin: 0;
}

.navbar .nav-item {
  margin: 0 10px;
}

.navbar .nav-item .nav-link {
  padding: 15px 20px 15px 20px;
  background-color: #0cb9f2;
  border-radius: 15px;
  text-decoration: none;
  font-size: 30px;
  color: white;
}
.navbar .nav-item .nav-link:hover {
  background-color: rgb(4, 149, 139);
}
.navbar-toggler,
.navbar-toggler-icon {
  background-color: white;
}
#contenido {
  background-color: white;
  padding: 0px 20px 0px 20px;
  position: relative;
  top: 40px;
  margin: 0 auto;
}

#contenido #parrafo1 {
  width: 10 0%;
  float: left;
  padding: 5px 0px 40px 0px;
}

#contenido #parrafo2 {
  width: 50%;
  float: left;
  padding: 5px;
}
#contenido #parrafo3 {
  width: 50%;
  float: right;
  padding: 5px;
}
/* Carrusel de trabajadores */

#contenido aside {
  padding-top: 20px;
}
#contenido aside h2 {
  font-size: 50px;
  color: #035899;
  text-align: center;
}

.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  padding-block: 5rem;
}

.card-content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card-article {
  border: 1px solid black;
  width: 300px;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card-image {
  position: relative;
  background-color: #035899;
  padding-top: 1.5rem;
  margin-bottom: -0.75rem;
}

.card-data {
  background-color: #ffffff80;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
  color: black;
}

.card-img {
  width: 180px;
  margin: 0 20.5%;
  position: relative;
  z-index: 5;
  border-radius: 50%;
  top: -20px;
}

.card-shadow {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: -0.75rem;
  left: 0;
  right: 0;
  margin: 0 20.5%;
  filter: blur(25px);
}

.nombre {
  font-size: 25px;
  color: black;
  margin-bottom: 0.75rem;
}

.descripcion {
  font-weight: 500;
  margin-bottom: 1.75rem;
}

@media screen and (max-width: 850px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 20px;
    background-color: #035899;
    width: 100%;
  }

  .navbar .logo {
    display: none;
  }
  .navbar .nav-item .nav-link {
    padding: 15px 20px 15px 20px;
    margin: 10px 10px;
    background-color: #0cb9f2;
    border-radius: 15px;
    font-size: 20px;
    color: white;
  }
}

@media screen and (max-width: 1119px) {
  #contenido {
    width: auto;
  }

  #contenido #parrafo2 {
    width: auto;
    float: none;
    padding: 5px;
  }
  #contenido #parrafo3 {
    width: auto;
    float: none;
    padding: 5px;
  }

  .card-data {
    padding: 1rem;
  }
  .encabezado-aside {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1120px) {
  .card-content {
    margin-inline: 3rem;
  }
  .encabezado-aside {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1181px) {
  .card-container {
    max-width: 1120px;
  }
}

@media screen and (max-height: 600px) and (max-width: 991px) {
  .navbar .nav-item .nav-link {
    padding: 15px 20px 15px 20px;
    margin: 10px 10px;
    background-color: #0cb9f2;
    border-radius: 15px;
    font-size: 20px;
    color: white;
  }
}

/* ############################ */
#contenido footer {
  clear: both;
  width: 100%;
  height: 55px;
  padding: 10px 15px 10px 15px;
  background-color: #00ccff;
}

#contenido footer p {
  text-align: center;
}
